*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

body{
    background:pink;
    color:white;
    text-align:center;
    min-height:100vh;
}
}

section{
    padding:50px 20px;
}

.inicio{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:45px;
    margin-bottom:20px;
}

h2{
    font-size:32px;
    margin-bottom:20px;
}

p{
    font-size:20px;
    line-height:1.6;
}


button{
    margin-top:25px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#ff4da6;
    color:white;
    font-size:20px;
    cursor:pointer;
}


button:hover{
    transform:scale(1.15);
    box-shadow:0 0 20px pink;
}


.carta{
    background:white;
    color:#333;
    padding:30px;
    border-radius:20px;
    max-width:500px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}


footer{
    padding:30px;
    font-size:25px;
}


/* corazones flotando */

.corazon{
    position:fixed;
    bottom:-10px;
    font-size:25px;
    animation:subir 5s linear infinite;
}


@keyframes subir{

    0%{
        transform:translateY(0) translateX(0);
        opacity:1;
    }

    50%{
        transform:translateY(-50vh) translateX(40px);
    }

    100%{
        transform:translateY(-100vh) translateX(-40px);
        opacity:0;
    }

}


@media(max-width:600px){

h1{
    font-size:35px;
}

h2{
    font-size:28px;
}

}

img{
    width:250px;
    border-radius:20px;
    margin:15px;
    animation:aparecerFoto 1.5s ease;
}


@keyframes aparecerFoto{

    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
